<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title and page.url != "/" %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% if page.url == "/" %}
    <meta name="description" content="{{ site.description }}">
  {% else %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/thumbnails/{{ page.thumbnail }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.url == "/" %}
    <meta property="og:title" content="{{ site.title }}" />
  {% else %}
    <meta property="og:title" content="{{ page.title }}" />
  {% endif %}
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:creator" content="{{ site.twitter }}">
  {% if page.url == "/" %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% endif %}
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/thumbnails/{{ page.thumbnail }}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" href="{{ '/assets/icon/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}{{ site.baseurl }}/assets/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/assets/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}{{ site.baseurl }}/assets/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/assets/icon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/assets/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.url }}{{ site.baseurl }}/assets/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>