<div class="topnav">
	<div class="row">
		<div class="column">
			<a class="creative-commons" href="http://creativecommons.org/licenses/by-sa/4.0/">
				<i class="fab fa-creative-commons fa-lg"></i>
				<i class="fab fa-creative-commons-by fa-lg"></i>
				<i class="fab fa-creative-commons-sa fa-lg"></i>
			</a>
		</div>
		<div class="column" style="float: right; text-align: right;">
			<a href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin-in fa-lg"></i></a>
			<a href="https://github.com/{{ site.github }}"><i class="fab fa-github fa-lg"></i></a>
			<a href= "{{ site.url }}{{ site.baseurl }}/assets/cv.pdf"><i class="fas fa-file-download fa-lg"></i></i></a>
		</div>
	</div>
</div>