{% if page.links %}
	<div id="cvnav" class="bar nav">
		{% for link in page.links %}
			{% assign first_letter = link.url | slice: 0 %}
			{% if first_letter  == "#" %}
				<a href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %} | {% endunless %}
			{% else %}
				<a href="{{ site.url }}{{ site.baseurl }}/{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %} | {% endunless %}
			{% endif %}
		{% endfor %}
	</div>
{% else %}
	<div class="bar nav">
		<a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
	</div>
{% endif %}
