<h2 id="teaching"><i class="fas fa-chalkboard-teacher"></i> Teaching</h2>

<h3>Teaching Assistant</h3>
<ul>
	{% for class in site.data.cv.ta %}
		<li>{{ class }}</li>
	{% endfor %}
</ul>

<h3>Guest Lectures</h3>
<div class="items">
    {% for lecture in site.data.cv.guest_lectures %}
    <div class="item">
        <h5>{{ lecture.title }}.</h5>
        <p class="time">{{ lecture.time }}.</p>
        <p class="time">{{ lecture.course }},</p>
        <p class="description">{{ lecture.place }}.</p>
    </div>
    {% endfor %}
</div>