<div class="top">
	<div class="row">
		<div class="column">
			<a class="creative-commons" href="http://creativecommons.org/licenses/by-sa/4.0/" alt="Creative Commons Attribution-ShareAlike 4.0 International License">
				<i class="fab fa-creative-commons fa-lg"></i>
				<i class="fab fa-creative-commons-by fa-lg"></i>
				<i class="fab fa-creative-commons-sa fa-lg"></i>
			</a>
		</div>
		<div class="column" style="float: right; text-align: right;">
			<a href="https://www.linkedin.com/in/{{ site.data.cv.linkedin }}" alt="Linkedin"><i class="fab fa-linkedin-in fa-lg"></i></a>
			<a href="https://github.com/{{ site.data.cv.github }}" alt="GitHub"><i class="fab fa-github fa-lg"></i></a>
			<a href= "{{ site.url }}{{ site.baseurl }}/assets/cv.pdf" alt="Curriculum Vitae PDF"><i class="fas fa-file-pdf fa-lg"></i></i></i></a>
		</div>
	</div>
</div>