<div class="bar top">
	<div class="row">
		<div class="column">
		</div>
		<div class="column" style="float: right; text-align: right;">
			<a href="https://www.linkedin.com/in/{{ site.data.cv.linkedin }}" alt="Linkedin"><i class="fab fa-linkedin-in fa-lg"></i></a>
			<a href="https://github.com/{{ site.data.cv.github }}" alt="GitHub"><i class="fab fa-github fa-lg"></i></a>
			<a href= "{{ site.url }}{{ site.baseurl }}/assets/cv.pdf" alt="Curriculum Vitae PDF"><i class="fas fa-file-pdf fa-lg"></i></a>
		</div>
	</div>
</div>