::selection {
  background: $secondary-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $secondary-color; /* Gecko Browsers */
}

body {
  color: $text-color;
  background-color: $background-color;
  font-family: $font-family;
  line-height: $line-height;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h5 {
    font-size: 95%;
}

a {
  color: $text-color;
  text-underline-position: under;
}

a:hover {
  color: $background-color;
  background-color: $text-color;
}

.wrapper {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 3));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 3));
  margin-right: auto;
  margin-left: auto;
  padding-right: $horizontal-spacing-unit;
  padding-left: $horizontal-spacing-unit;
  padding-top: $vertical-spacing-unit;
  padding-bottom: $vertical-spacing-unit;
  display: block;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 0;
  margin: 0;
}

.column-left {
  width: 50%;
  display: inline-block;
  float: left;
}
.column-right {
  width: 50%;
  display: inline-lock;
  float: right;
}

hr {
  border-color: $text-color;
  color: $text-color;
  background-color: $text-color;
  padding-top: 10px;
  margin-left: -$horizontal-spacing-unit;
  margin-right: -$horizontal-spacing-unit;
}

ul {
  padding-bottom: $vertical-spacing-unit/2;
}

@media only screen and (max-device-width: 480px) {
  .column-left, .column-right {
    float: none;
    width: 100%;
  }
}