
body {
  color: $text-color;
  background-color: $background-color;
  font-family: $font-family;
  line-height: $line-height;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
}

a {
  color: $text-color;
}

a:hover {
  color: $background-color;
  background-color: $text-color;
}

.wrapper {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $horizontal-spacing-unit;
  padding-left: $horizontal-spacing-unit;
  padding-top: $vertical-spacing-unit;
  padding-bottom: $vertical-spacing-unit;
  display: block;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

::selection {
  background: $secondary-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $secondary-color; /* Gecko Browsers */
}

.degree {

  p {
    font-size:80%;
    text-indent: .5em;
    line-height: .9;
  }
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 0;
  margin: 0;
}

.bibliography {
    margin-bottom: 5px;
    margin-top: 5px;
    list-style-type: none;
    margin-left: 2px;
    padding-left: 2px;

    li {
      margin: 2px 0;
      position: relative;
      padding: 2.5;
      font-size: 90%;
    }
 }

footer {
  border-top: 2px solid $text-color;

  a:hover {
    background-color: $text-color;
    color: $background-color;
  }
}
.creative-commons {
  text-decoration: none;
  color: $text-color;
}

.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  font-size: 90%;
}

hr {
  border-color: $text-color;
  color: $text-color;
  background-color: $text-color;
}