.heading, .section, { display: inline-block; }

.heading {
    padding-top: 0;
    margin-top: $vertical-spacing-unit*2;
}

.contact {
    margin: 0;
    padding: 0;
    padding-bottom: $vertical-spacing-unit;
    line-height: 1.5;
    .column {
        float: left;
        padding: 0;
        margin: 0;
        vertical-align: middle;
    }
    .icon { width: 7.5%; }
    .data { width: 92.5%; }
    .fas, .fab {
        vertical-align: middle;
        text-align: left;
        margin-top: $border-size;
    }
}

.bio {
    padding-bottom: $vertical-spacing-unit/2;
}

.items {
    padding-bottom: $vertical-spacing-unit/2;
}

.item {
    h5 {
        letter-spacing: -0.5px;
        font-weight: bold;
        text-transform: none;
    }
    p {
        font-size: 100%;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: .5em;
        margin-top: .5em;
    }
    .time {
        text-indent: 0em;
        padding-left: .5em;
        line-height: .9;
    }
    .description {
        text-indent: 0em;
        line-height: 1.25;
        padding-left: .5em;
        list-style-position: inside;
    }
    border-radius: 0 0 $border-size/4 $border-size/4;
    &:last-child { border-bottom: 0px; }
}