@media (prefers-color-scheme: dark) {
    ::selection, ::-moz-selection {
        background: $light-color;
    }

    body {
        background-color: $dark-color;
        color: $light-color;
    }

    a {color: $light-color;}

    a:hover {
        color: $dark-color;
        background-color: $light-color;
    }

    hr {
        border-color: $border-color;
        color: $border-color;
        border: solid 0px $border-color;
        background-color: $border-color;
    }

    footer {
        border-top: $border-size/2 solid $border-color;
        border-bottom: $border-size/2 solid $border-color;
        line-height: 2;
        background-color: $border-color;
        color: $dark-color;
    }

    .wrapper {
        border: $border-size solid $border-color;
    }

    .name {
        border-bottom: $border-size * 2 solid $border-color;
    }

    .section {
        border-bottom: $border-size solid $border-color;
    }

    .item {
        border-bottom: $border-size/4 solid $border-color;
    }

    .bibliography {
        li {
            border-bottom: $border-size/4 solid $border-color;
        }
    }

    .top {
        background-color: $border-color;
        color: $dark-color;
        border-bottom: $border-size solid $border-color;

        a {color: $dark-color;}

        a:hover {
            background-color: $border-color;
            color: lighten($dark-color, 20%);
        }
    }

    .nav {
        background-color: $dark-color;
        color: $light-color;
        border-bottom: $border-size/2 solid $light-color;
    }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $light-color;
    color: $dark-color;
  }
}


