.name {
  border-bottom: 10px solid black;
  display: inline-block;
}

.contact {
	margin: 0;
	padding: 0;
	padding-bottom: $vertical-spacing-unit;
	line-height: 1.5;
	.column {
		float: left;
		width: 1.5em;
		padding: 0;
		margin: 0;
	}
}

.bio {
	padding-bottom: $vertical-spacing-unit/2;
}

.items {
	padding-bottom: $vertical-spacing-unit/2;
}

.item {
	h5 {
		letter-spacing: .5px;
		font-weight: bold;
		text-transform: none;
	}
	p {
		font-size: 95%;
	}
	.time {
		text-indent: 0em;
		padding-left: .5em;
		line-height: .9;
	}
	.description {
		text-indent: 0em;
		line-height: 1.25;
		padding-left: .5em;
	}
}

.bibliography {
    margin-bottom: 5px;
    margin-top: 5px;
    list-style-type: none;
    margin-left: 2px;
    padding-left: 2px;

    li {
      margin: 2px 0;
      position: relative;
      padding: 2.5;
      font-size: 95%;
    }
 }