.name {
  border-bottom: 10px solid black;
  display: inline-block;
}

.section {
	border-bottom: 5px solid black;
	display: inline-block;
}

.contact {
	margin: 0;
	padding: 0;
	padding-bottom: $vertical-spacing-unit;
	line-height: 1.5;
	.column {
		float: left;
		width: 1.5em;
		padding: 0;
		margin: 0;
		vertical-align: middle;
	}
    .fas, .fab {
        vertical-align: middle;
        text-align: left;
        margin-top: 2.5px;
    }
}

.bio {
	padding-bottom: $vertical-spacing-unit/2;
}

.items {
	padding-bottom: $vertical-spacing-unit/2;
}

.item {
	h5 {
		letter-spacing: -0.5px;
		font-weight: bold;
		text-transform: none;
	}
	p {
		font-size: 95%;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: .5em;
		margin-top: .5em;
	}
	.time {
		text-indent: 0em;
		padding-left: .5em;
		line-height: .9;
	}
	.description {
		text-indent: 0em;
		line-height: 1.25;
		padding-left: .5em;
	}
	border-bottom: 1.25px solid $text-color;
	&:last-child {
		border-bottom: 0px;
	}
}

.bibliography {
    margin-bottom: 0px;
    margin-top: 0px;
    list-style-type: none;
    margin-left: 2px;
    padding-left: 2px;
    padding: 0 0 0 0;

    li {
		margin: 2px 0;
		position: relative;
		padding-bottom: 0;
		font-size: 95%;
		border-bottom: 1.25px solid $text-color;
		&:last-child {
			border-bottom: 0px;
		}
    }

    a {
	    text-decoration: none;
    }
	&:last-child {
		margin-bottom: $vertical-spacing-unit/4;
	}
}