.contact {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.bio {
	font-size: 95%;
	padding-bottom: 10px;
}

.item {
	h5 {
		letter-spacing: .5px;
		font-weight: bold;
		text-transform: none;
	}
	p {
		font-size: 90%;
		text-indent: .5em;
		line-height: .9;
	}
	.description {
		text-indent: 0em;
		line-height: 1.25;
		padding-left: .5em;
	}
}
