footer {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2.5));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2.5));
  margin-right: auto;
  margin-left: auto;
  padding-right: $horizontal-spacing-unit;
  padding-left: $horizontal-spacing-unit;
  overflow: hidden;
  text-align: center;
  display: block;
  border-radius: 0 0 5px 5px;
  border-right: 5px solid $dark-color;
  border-left: 5px solid $dark-color;
  border-top: 2.5px solid $dark-color;
  border-bottom: 2.5px solid $dark-color;
  line-height: 2;
  background-color: $dark-color;
  color: $light-color;
}