@media screen and (max-width: 700px) {
    .column-left, .column-right {
        float: none;
        width: 100%;
    }
    .wrapper, .bar {   
        flex-direction: column;
    }
    .wrapper {
        background-color: $theme-color;
        color: $light-color;
        .sidebar {
            border-right: 0;
            #lastsidehr {
                display: block;
                margin-bottom: 0;
            }
        }
        .main-content {
            padding-top: 0;
            border-left: 0;
        }
    }
    .bar {
        .column {
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}

@media screen and (max-width: 700px) and (prefers-color-scheme: dark) {
    .wrapper { background-color: lighten($dark-theme-color, 5%); color: $light-color;}
}