@media screen and (max-width: 700px) {
    .column-left, .column-right {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    #cvnav {
        display: none;
    }
}


@media screen and (max-width: 750px) {
    .wrapper {
        .bar {
            .column {
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: -1px;
    }
}