.logo {
  background-color: $background-color;
  color: $secondary-color;
  overflow: hidden;
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: $heading-font-family;
  display: block;
  a {
    text-decoration: none;
    color: $text-color;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

.topnav {
  background-color: $background-color;
  overflow: hidden;
  text-align: left;
  font-family: $heading-font-family;
  border-bottom: 2px solid $text-color;
  line-height: 1.5;
  /* Add a color to the active/current link */
  .active {
    font-weight: bold;
  }
  .title {
    font-weight: $heading-font-weight;
  }
}

/* Style the links inside the navigation bar */
.topnav a {
  color: $text-color;
  text-align: left;
  padding: 4px 6px;
  font-size: 17px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $text-color;
  color: $background-color;
}