.top, .nav {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 3));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 3));
  margin-right: auto;
  margin-left: auto;
  padding-right: $horizontal-spacing-unit;
  padding-left: $horizontal-spacing-unit;
  overflow: hidden;
  text-align: left;
  display: block;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid $text-color;
  border-bottom: 2px solid $text-color;
  line-height: 2;
  a {
    text-align: left;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    text-decoration: none;
  }
  .column {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
  .fas, .fab {
    vertical-align: middle;
  }
}

.top {
  background-color: $text-color;
  color: $background-color;
  a {
    color: $background-color;
  }
  /* Change the color of links on hover */
  a:hover {
    background-color: $text-color;
    color: lighten($background-color, 50%);
  }
}

.nav {
  text-align: left;
  text-transform: uppercase;
  background-color: $background-color;
  color: $text-color;
}