::selection, ::-moz-selection {
    background: $theme-color;
    color: $dark-color;
}

body {
    background-color: darken($theme-color, 25%);
    color: $dark-color;
}

a {color: $dark-color;}

a:hover {
    color: $theme-color;
    background-color: $dark-color;
}

footer {
    color: $light-color;
}

.wrapper {
    background-color: $theme-color;
    border: $border-size solid $dark-color;
    .separator {
        border-color: $dark-color;
        color: $dark-color;
        border: solid 0px $dark-color;
        background-color: $dark-color;
    }
}

.heading { border-bottom: $border-size * 2 solid $dark-color; }

.section { border-bottom: $border-size solid $dark-color; }

.item { border-bottom: $border-size/4 solid $dark-color; }

.bibliography {
    li { border-bottom: $border-size/4 solid $dark-color; }
}


.bar {
    background-color: $dark-color;
    color: $light-color;
    border: $border-size solid $dark-color;

    a {color: $theme-color;}

    a:hover {
        background-color: $dark-color;
        color: lighten($theme-color, 20%);
    }
}