$dark-color: #000;
$secondary-color: #ece8f4;
$light-color: #f2dfe5;


$darkmode-dark-color: lighten($dark-color, 25%);
$darkmode-light-color: lighten($light-color, 0%);

$darkmode-dark-color: darken($light-color, 25%);
$darkmode-light-color: lighten($dark-color, 0%);

$font-family: 'Inconsolata', monospace;
$line-height: 1.25 !default;
$heading-font-family: 'Inconsolata', monospace;
$heading-font-weight: 700 !default;
$heading-line-height: 1.25 !default;

$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 20px;
$phone-horizontal-spacing-unit: 10px;