$text-color: #000;
$secondary-color: #B94F74;
$secondary-color: #ece8f4;
$background-color: #ece8f4;
$background-color: #B94F74;
$background-color: #eacad5;

$font-family: 'PT Mono', monospace;
$line-height: 1.25 !default;
$heading-font-family: 'PT Mono', monospace;
$heading-font-weight: 700 !default;
$heading-line-height: 1.25 !default;

$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 20px;
$phone-horizontal-spacing-unit: 10px;