<h1 id="about" class="heading">{{ site.data.cv.name_title }}</h1>

<div class="contact">
    <div class="row">
        <div class="column icon"><i class="fas fa-map-marker"></i></div>
        <div class="column data">{{ site.data.cv.location }}</div>
    </div>
    <div class="row">
        <div class="column icon"><i class="fas fa-phone"></i></div>
        <div class="column data"><a href="tel:{{ site.data.cv.phone }}">{{ site.data.cv.phone }}</a></div>
    </div>
    <div class="row">
        <div class="column icon"><i class="fas fa-envelope"></i></div>
        <div class="column data"><a href="mailto:{{ site.data.cv.email }}">{{ site.data.cv.email }}</a></div>
    </div>
    <div class="row">
        <div class="column icon"><i class="fab fa-twitter"></i></div>
        <div class="column data"><a href="http://twitter.com/{{ site.data.cv.twitter }}">{{ site.data.cv.twitter }}</a></div>
    </div>
</div>

<h2 class="section">Bio</h2>
<div class="bio">{{ site.data.cv.bio }}</div>