---
import Layout from "../components/Layout.astro";
---

<Layout>
  <p class="py-8 text-slate-700">
    Page not found. <a class="text-blueprint hover:underline" href="/">Return home</a>.
  </p>
</Layout>
