---
layout: default
links:
  - title: "About"
    url: "#about"
  - title: "Education"
    url: "#education"
  - title: "Work"
    url: "#employment"
  - title: "Publications"
    url: "#publications"
  - title: "Teaching"
    url: "#teaching"
  - title: "Projects"
    url: "#projects"
---

<body>
	<div class="wrapper">
	{% include about.html %}
	<hr>

<!-- 	{% include blog.html %}
	<hr> -->

	{% include education.html %}
	<hr>

	{% include employment.html %}
	<hr>

	{% include publications.html %}
	<hr>

	{% include teaching.html %}
	<hr>

	{% include projects.html %}
	</div>
</body>
