---
layout: default
---

{% include top.html %}

<div id="cvnav" class="nav">
	<a href="#bio">Bio</a> |
	<a href="#education">Education</a> |
	<a href="#employment">Employment</a> |
	<a href="#publications">Publications</a> |
	<a href="#teaching">Teaching</a> |
	<a href="#projects">Projects</a>
</div>

<body>
	<div class="wrapper">
	{% include about.html %}
	<hr>

<!-- 	{% include blog.html %}
	<hr> -->

	{% include education.html %}
	<hr>

	{% include employment.html %}
	<hr>

	{% include publications.html %}
	<hr>

	{% include teaching.html %}
	<hr>

	{% include projects.html %}
	</div>
</body>
