<li style="text-indent: -1em; padding-left: 1em;">
	{% if entry.author != "Chace, Alexandra" %} {{ entry.author }}, {% endif %}
	{% if entry.type == "inproceedings" %}
		<strong>{{ entry.title }}</strong>,
		{{ entry.date | date: '%-d %B %Y' }}, 
		<em>{{ entry.eventtitle }}</em>, 
		{{ entry.location }}.

	{% elsif entry.type == "article" %}
		<strong>{{ entry.title }}</strong>,
		<em>{{ entry.journal }}</em>,
		{% if entry.issue %}
			{{ entry.issue }}, 
		{% endif %}
		{{ entry.publisher }}.

	{% elsif entry.type == "thesis" %}
		<strong>{{ entry.title }}</strong>, 
		{{ entry.date | date: '%-d %B %Y' }}, 
		{{ entry.institution }}.
	{% endif %}
<br>
{% if entry.pdf %}
	<a href="{{ site.url }}{{ site.baseurl }}/{{entry.pdf}}">[PDF]</a> 
{% endif %}
{% if entry.html %}
	<a href="{{entry.html}}">[HTML]</a> 
{% endif %}
</li>
