<li>
{{ entry.author }}. 
	{% if entry.type == "inproceedings" %}
	{{ entry.date | date: '%-d %B %Y' }}. 
	<strong>{{ entry.title }}</strong>.
	{{ entry.eventtitle }}. 
	{{ entry.location }}.

{% elsif entry.type == "article" %}
	{{ entry.year }}. 
	<strong>{{ entry.title }}</strong>.
	{{ entry.journal }}.
	{% if entry.issue %}
		{{ entry.issue }}.
	{% else %}
	{% endif %}
	{{ entry.publisher }}.
{% endif %}

<br>

{% if entry.pdf %}
	<a href="{{ site.url }}{{ site.baseurl }}/{{entry.pdf}}">[PDF]</a> 
{% elsif entry.html %}
	<a href="{{entry.html}}">[HTML]</a> 
{% endif %}
</li>
