<div class="item">
	{% if entry.type == "inproceedings" %}
		<h5>{{ entry.title }}.</h5>
		{% if entry.author != "Chace, Alexandra" %} <p class="time">{{ entry.author }}.</p> {% endif %}
		<p class="time">{{ entry.date | date: '%-d %B %Y' }}.</p>
		<p class="time">{{ entry.eventtitle }},</p>
		<p class="time">{{ entry.location }}.</p>
	{% elsif entry.type == "article" %}
		<h5>{{ entry.title }}.</h5>
		{% if entry.author != "Chace, Alexandra" %} <p class="time">{{ entry.author }}.</p> {% endif %}
		<p class="time">{{ entry.journal }}{% if entry.issue %}, {{ entry.issue }}{% endif %}.</p>
		<p class="time">{{ entry.publisher }}.</p>
	{% elsif entry.type == "thesis" %}
		<h5>{{ entry.title }}.</h5> 
		<p class="time">{{ entry.date | date: '%-d %B %Y' }}.</p> 
		<p class="time">{{ entry.institution }}.</p>
	{% endif %}
{% if entry.pdf %}
	<p class="time"><a href="{{ site.url }}{{ site.baseurl }}/{{entry.pdf}}">[PDF]</a></p>
{% endif %}
{% if entry.html %}
	<p class="time"><a href="{{entry.html}}">[HTML]</a></p>
{% endif %}
</div>


<!-- {% for author in entry.author_array %}
{% unless forloop.last %}
  {% if author.last == site.scholar.last_name %}
    <em>{{author.last}}, {{author.first}}</em>,
  {% else %}
    {% if site.data.coauthors[author.last] %}
      <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
    {% else %}
      {{author.last}}, {{author.first}};
    {% endif %}
  {% endif %}
{% else %}
  {% if author.last == site.scholar.last_name %}
    {% if entry.author_array.size == 1 %}
    {% else %}
      <em>{{author.last}}, {{author.first}}</em>.
    {% endif %}
  {% else %}
    {% if site.data.coauthors[author.last] %}
      <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>.
    {% else %}
      {{author.last}}, {{author.first}}
    {% endif %}
  {% endif %}
{% endunless %}
{% endfor %} -->